body {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}

.header-container {
    display: flex;
    background-color: peachpuff;
    height: auto;
}

.header-container .navbar {
    display: flex;
    padding: auto;
}

.header-container .navbar .logo img {
    width: 128px;
    height: 96px;
    margin-left: auto;
}
.navigate{
    display:flex;
    margin: right;
    padding: auto;
}









.section-container {
    display: flex;
    background-color: white;
    text-align: left;
}

.footer-container {
    display: flex;
    background-color: red;
    text-align: left;
}