body {
    background-color: burlywood;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:'Roboto',arial;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    height: auto;
}

.header-container .navbar {
    background-color: burlywood;
    display: flex;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-container .navbar .logo img {
    width: 128px;
    height: 120px;
}
.navigate{
    display:flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
.navbar a{
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 18px;
    font-family:'Roboto',arial;
}
.header-box{
    display: flex;
    color: firebrick;
    align-items: center;
    justify-content: center;
    padding: 45px;
}
.header-box a{
    text-decoration: none;
}
.header-box .textbox1{
    flex-basis: 750px;
    display: flex;
    flex-direction: column;
    text-align:left;
    font-size: 28px;
    font-family: 'Roboto',arial;
    margin-bottom: 100px;
    margin-right: 25px;
}
.header-box button{
    display: block;
    text-align: center;
    width: 250px;
    border: none;
    background: goldenrod;
    padding: 10px;
    border-radius: 8px;
    font-size: 32px;
    color: firebrick;
    font-family: 'Roboto',arial;
    text-decoration: none;
    font-weight: 800;
}
.header-box .imgbox{
    width: 20%;
    height: 90%;
}
.imgbox img{
    width: 500px;
    height: 500px;
}






.section-container {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    flex-direction: column;
}
.section-container .sectext1{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto',arial;
    padding: 10px;
}
.section-container iframe{
    border: 4px solid brown;
    border-radius: 15px;
}
.section-container .arti1{
    background-color: antiquewhite;
    color: firebrick;
    padding: 0px 400px 0px 400px;
    font-family: 'Roboto',arial;
}
.arti1 div{
    font-weight:700;
    text-align: center;
    font-size: 24px;
}
.arti1 p{
    text-align:right;
    font-size:18px;
    font-weight: 400;
    margin-right: 28px;
}
.section-container .signupbanner{
    background-color: brown;
    margin: 10px 500px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.signupbanner .signtext{
    margin-right: auto;
    color: peachpuff;
    font-family: 'Roboto',arial;
}
.signtext h3{
    font-size: 18px;
    font-weight:700;
}.signtext p{
    font-size: 12px;
}.signbuttonalt .signbuttonalt{
    margin-left: auto;
}
.signbuttonalt button{
    font-weight: 700;
    border: none;
    background: goldenrod;
    padding: 5px 25px;
    border-radius: 8px;
    font-size: 15px;
    color: firebrick;
    font-family: 'Roboto',arial;
    text-decoration: none;
}
.footer-container {
    display: flex;
    background-color: burlywood;
    align-items: center;
    justify-content: center;
}
.footer-container .cprodin{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}